<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color justify-content-between">
    <mdb-navbar-brand>
        <a class="navbar-brand rc" style="color: white;" (click)="trackers()"><mdb-icon fas icon="home" mdbDropdownToggle></mdb-icon></a>
        <a class="navbar-brand" href="">Credit Control System</a>
    </mdb-navbar-brand>
    <links>
        <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
        <div class="md-form my-0">
            
            <button mdbBtn color="warning" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect><mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>  {{sessionValue}}| {{declared.Email}} </button>
            <a class="navbar-brand rc" style="color: white;" (click)="signout()">Sign Out <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon></a>
        </div>
        </form>
    </links>
</mdb-navbar>
<div class="b">

   
    <div>
       
    
    
    
    <h4 class="h">Eplore the World </h4>
    <br>
    <div class="maindiv">
        
        <div class="left">
            <h6>Change Password</h6>
            <button class="ap" (click)="cp()" ><mdb-icon fas icon="key" mdbDropdownToggle></mdb-icon>  Change Password</button>
            <hr>
            
            
     
        </div>
        <div class="center"><div class="card-body">
            <h3>Assigned Invoices</h3>
                <!--Table-->
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
        <tr>
            <th>Invoice#</th>
            <th>Name</th>
            <th>Driver</th>
            <th>Phone#</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Due_Period</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr class="table-info" *ngFor="let data of in">
            <th scope="row">1</th>
            <td>{{data.InvoiceNumber}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.Driver}}</td>
            <td>{{data.PhoneNumber}}</td>
            <td>{{data.Paid}}</td>
            <td>{{data.Amount}}</td>
            <td>{{data.DueDate}}</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->
        
    </div>
    
        </div>
        <div class="right">
            <h6>Make a request</h6>
            <button class="aactive" (click)="trackers()" ><mdb-icon fas icon="tasks" mdbDropdownToggle></mdb-icon>  Assigned Tasks</button>
            <hr>
            <button class="ap" (click)="sdebt()" ><mdb-icon fas icon="file-invoice-dollar" mdbDropdownToggle></mdb-icon>  Debts Settled</button><hr>
            <hr>
    
            
    
        </div>
        
    </div>
    </div>
    <div class="footer">
        <p class="h ah">All rights Reserved @2020</p>
        <p class="h">let's go digital</p>
    </div>